<div class="container" style="margin-top: 30px;">
  <div class="box-span"><span class="box-shadow">Here are your Duck Bookings</span></div>
<br>
<br>

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <strong><%= booking.duck.name %></strong> </h5>
            <%= cl_image_tag booking.duck.photo.key, height: 300, width: 200, crop: :fill %>
            <h6>
              <% if booking.duck.description.size > 120 %>
                <%= "#{booking.duck.description[0,120]}..." %>
              <% else %>
                <%= booking.duck.description %>
              <% end %>
            </h6>
            <p class="card-text"><strong>Price: </strong> <%= booking.duck.price %>€</p>
            <p><strong> Start date: </strong> <%=booking.start_time.strftime("%-d %b") %></p>
            <p><strong> End date: </strong> <%= booking.end_time.strftime("%-d %b") %></p>
            <div class="btn btn-primary">
              <%= link_to "See Booking", booking_path(booking) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<h4><%= link_to "Book another duck!", ducks_path %></h4>
<br>
<br>
