<div class="pages-banner d-flex justify-content-center" >
  <div class="pages-banner-content">
    <div class="pages-white-box">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="d-flex justify-content-center">
    <div class="container-title shadow bg-white rounded">Here are your Duck Bookings</div>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> <strong><%= booking.duck.name %></strong> </h5>
            <%= cl_image_tag booking.duck.photo.key, height: 300, width: 200, crop: :fill %>
            <h6>
              <% if booking.duck.description.size > 120 %>
                <%= "#{booking.duck.description[0,120]}..." %>
              <% else %>
                <%= booking.duck.description %>
              <% end %>
            </h6>
            <p class="card-text"><strong>Price: </strong> <%= booking.duck.price %>€</p>
            <p><strong> Start date: </strong> <%=booking.start_time.strftime("%-d %b") %></p>
            <p><strong> End date: </strong> <%= booking.end_time.strftime("%-d %b") %></p>
              <div class="d-flex flex-column h-100 justify-content-between">
              <%= link_to "See Booking", booking_path(booking), class: "booking btn btn-primary w-40 align-self-center" %>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p class="text-center"><%= link_to "Book another duck!", ducks_path, class: "btn btn-primary w-40 align-self-center" %></p>
