<div class="pages-banner d-flex justify-content-center" >
  <div class="pages-banner-content">
    <div class="pages-white-box">
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px;">
<br>
  <div class="card-product">
    <%= cl_image_tag @duck.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos">
      <h2><strong><%= @duck.name %></strong></h2>
      <p><%= @duck.description %></p>
      <p><strong>Price per day: </strong> <%= @duck.price %></p>
      <div class="btn btn-primary">
        <%= link_to "Book This Duck", new_duck_booking_path(@duck) %>
      </div>
      <% if policy(@duck).edit? %>
        <div class="btn btn-primary">
          <%= link_to "Edit", edit_duck_path(@duck) %>
        </div>
      <% end %>
      <% if policy(@duck).destroy? %>
        <div class="btn btn-primary">
          <%= link_to "Destroy", duck_path(@duck), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container" >
  <h2 style=" text-align: center; padding-top: 15px;">Add a review</h2>
  <% if @booking%>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a %>
      <%= f.input :content %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
    <br>
  <% end %>
  <% @duck.reviews.each do |review| %>
    <li style="list-style: none; "><%= "⭐️" * review.rating  if review.rating %></li>
    <li style="list-style: none; "><%= review.content %></li>
  <% end %>
</div>

